
{% load static %}



    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3>About Us</h3>
            <p class="subtitle-caption">
                We are more than just a tech startup. We are pioneers, trailblazing through the realms of cutting-edge technology to bring you solutions that not only meet but exceed your expectations. With a passion for innovation and a commitment to excellence, we're here to transform the way you engage with technology.
            </p>
        </div>

        <!-- Row Start -->
        <div class="row">
            <div class="col-sm-6 mb-2">
                <h4>
                    <iconify-icon class="icon" icon="tabler:bulb-filled"></iconify-icon>
                    Unleash Your Potential
                </h4>
                <p>
                    Welcome to ZiloTech, where we empower individuals and businesses to unlock their full potential. Our innovative solutions are designed to inspire creativity, spark new ideas, and drive growth.
                </p>
            </div>
            <div class="col-sm-6 mb-2">
                <h4>
                    <iconify-icon class="icon" icon="streamline:customer-support-1-solid"></iconify-icon>
                    Exceptional Support
                </h4>
                <p>
                    At ZiloTech, we believe in providing exceptional support to our clients. Our dedicated team is committed to your success and is always ready to assist you at every step.
                </p>
            </div>
        </div>
        <!-- Row End -->

        <!-- Second Row Start -->
        <div class="row">
            <div class="col-sm-6">
                <h4>
                    <iconify-icon class="icon" icon="mdi:responsive"></iconify-icon>
                    Seamless Experiences
                </h4>
                <p>
                    Experience seamless interactions across all devices and platforms with ZiloTech. Our designs are meticulously crafted to ensure a consistent and engaging user experience.
                </p>
            </div>
            <div class="col-sm-6">
                <h4>
                    <iconify-icon class="icon" icon="ri:team-fill"></iconify-icon>
                    Expert Team
                </h4>
                <p>
                    Our team of experts at ZiloTech is passionate about delivering excellence. With a wealth of experience, we pride ourselves on being at the forefront of technological advancements.
                </p>
            </div>
        </div>
        <!-- Second Row End -->
    </div>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h3>Our Team</h3>
                <p>
                    Meet The Talented Individuals Who Make Up The ZiloTech Team. They Are Dedicated To Delivering Excellence And Driving Success For Our Clients.
                </p>
            </div>

            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="row member shadow d-flex align-items-start">
                        <div class="pic col-sm-4">
                            <img src="{% static 'img/team/bill.jpg' %}" class="img-fluid rounded" alt="Nyuydine Bill">
                        </div>
                        <div class="member-info col-sm mt-2">
                            <h4>Nyuydine Bill</h4>
                            <span>CEO & Co-founder</span>
                            <p>Believe in Possibilities!</p>
                            <div class="social">
                                <a href="mailto:billleynyuy@gmail.com"><iconify-icon class="iconify-icon" icon="clarity:email-solid"></iconify-icon></a>
                                <a href="https://linkedin.com/in/nyuydine-bill"><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
                                <a href="https://twitter.com/BillNyuydine" target="_blank"><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
                                <a href="https://github.com/NyuydineBill"><iconify-icon class="iconify-icon" icon="mdi:github"></iconify-icon></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Member 2 -->
                <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="row member shadow d-flex align-items-start">
                        <div class="pic col-sm-4">
                            <img src="{% static 'img/team/livingstone.png' %}" class="img-fluid rounded" alt="Kongyuy Livingston">
                        </div>
                        <div class="member-info col-sm mt-2">
                            <h4>Kongyuy Livingston</h4>
                            <span>CTO & Co-founder</span>
                            <p>In the midst of difficulty lies opportunity.</p>
                            <div class="social">
                                <a href=""><iconify-icon class="iconify-icon" icon="clarity:email-solid"></iconify-icon></a>
                                <a href=""><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
                                <a href=""><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
                                <a href=""><iconify-icon class="iconify-icon" icon="mdi:github"></iconify-icon></iconify-icon></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="row member shadow d-flex align-items-start">
                      <div class="pic col-sm-4">
                        <img src="{% static 'img/team/hilary.png' %}" class="img-fluid rounded" alt="Ndifoin Hilary" />
                      </div>
                      <div class="member-info col-sm mt-2">
                        <h4>Ndifoin Hilary</h4>
                        <span>COO & co-founder</span>
                        <p>
                          Believe you can and you're halfway there.
                        </p>
                        <div class="social">
                          <a href=""><iconify-icon class="iconify-icon" icon="clarity:email-solid"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="mdi:github"></iconify-icon></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                    <div class="row member shadow d-flex align-items-start">
                      <div class="pic col-sm-4">
                        <img src="{% static 'img/team/yuh.JPG' %}" class="img-fluid rounded" alt="Yuh Randy" />
                      </div>
                      <div class="member-info col-sm mt-2">
                        <h4>Yuh Randy</h4>
                        <span>Project Manager</span>
                        <p>
                          The only way to do great work is to love what you do.
                        </p>
                        <div class="social">
                          <a href="mailto:yuhrandy1@gmail.com"><iconify-icon class="iconify-icon" icon="clarity:email-solid"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="mdi:github"></iconify-icon></iconify-icon></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="row member shadow d-flex align-items-start">
                      <div class="pic col-sm-12">
                        <img src="{% static 'img/team/ngwa.jpg' %}" class="img-fluid rounded" alt="Ngwa Juthel" />
                      </div>
                      <div class="member-info col-sm mt-2">
                        <h4>Ngwa Juthel</h4>
                        <span>Design Lead and Social Media Manager</span>
                        <p>
                          The best way to predict the future is to design it ~ Buckminster Fuller
                        </p>
                        <div class="social">
                          <a href="ngwajuthel123@gmail.com"><iconify-icon class="iconify-icon" icon="clarity:email-solid"></iconify-icon></a>
                          <a href="https://www.linkedin.com/in/ngwa-juthel-a4a56a297"><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="mdi:github"></iconify-icon></iconify-icon></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="row member shadow d-flex align-items-start">
                      <div class="pic col-sm-4">
                        <img src="{% static 'img/team/Awankem.jpeg' %}" class="img-fluid rounded" alt="Awankem Benjamin" />
                      </div>
                      <div class="member-info col-sm mt-2">
                        <h4>Awankem Benjamin</h4>
                        <span>Head of HR (Human Resources)</span>
                        <p>
                          Success is not final, failure is not fatal: It is the courage to continue that counts.
                        </p>
                        <div class="social">
                          <a href=""><iconify-icon class="iconify-icon" icon="clarity:email-solid"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
                          <a href=""><iconify-icon class="iconify-icon" icon="mdi:github"></iconify-icon></iconify-icon></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    



