<div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Let's Work Together</h3>
        <p>
          Are you ready to embark on a journey of technological innovation and unparalleled efficiency? Look no further than ZiloTech, where we redefine the boundaries of what's possible in the digital landscape.              </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#contact">Contact Us</a>
      </div>
    </div>
  </div>