
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>
              Don't miss out on the latest in tech innovation, exclusive updates, and industry insights. Subscribe to our newsletter and be part of the ZiloTech community. Join us as we explore the frontiers of technology and empower businesses for a future filled with possibilities.
            </p>
            <form id="newsletter-form">
              <input class="px-3" placeholder="E-mail" id="newsletter" type="email" name="email" required />
              <button>Subscribe</button>
            </form>
            <p id="thank-you" class="mt-4">Thank you!</p>
            <p id="try-again" class="mt-4">Please try again</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>ZiloTech</h3>
            <p>
              Bambili <br />
              Bamenda<br />
              Cameroon <br /><br />
              
              <a class="text-muted" href="tel:+237681775574">
                <strong>Phone:</strong> +237 681775574<br />
              </a>
              <a class="text-muted" href="mailto:zilotechnologies@gmail.com">
                <strong>Email:</strong> zilotechnologies@gmail.com<br />
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#about">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#services">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#contact">Contact us</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#contact">Web Development</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#contact">Web Design</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#contact">Mobile Development</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">SEO</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#contact">Graphic Design</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>
              Follow us on our social media platforms for more updates, thank you in advance.
            </p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/company/zilotechnologies/"><iconify-icon class="iconify-icon" icon="bi:linkedin"></iconify-icon></a>
              <a href="https://x.com/zilotechcm?s=11"><iconify-icon class="iconify-icon" icon="simple-icons:x"></iconify-icon></a>
              <a href="https://www.facebook.com/profile.php?id=100091508575881&mibextid=9R9pXO"><iconify-icon class="iconify-icon" icon="akar-icons:facebook-fill"></iconify-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>ZiloTech</span></strong
        >. All Rights Reserved
      </div>
    
    </div>
  