<div class="container" data-aos="fade-up">
    <div class="section-title">
      <h3>Frequently Asked Questions</h3>
      <p>
        Explore the answers to your most pressing inquiries about ZiloTech and our transformative technology solutions.
      </p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            class="collapse"
            data-bs-target="#faq-list-1"
            >What is ZiloTech, and what services do you offer?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div
            id="faq-list-1"
            class="collapse show"
            data-bs-parent=".faq-list"
          >
            <p>
              ZiloTech is a technology solutions company that specializes in web development, UI/UX Design, Mobile Development, etc. Our services are designed to solve specific business challenges/improve efficiency for a variety of industries.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-2"
            class="collapsed"
            >How can ZiloTech benefit my business?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div
            id="faq-list-2"
            class="collapse"
            data-bs-parent=".faq-list"
          >
            <p>
              ZiloTech empowers businesses by providing innovative and tailor-made technology solutions. Our services are crafted to enhance efficiency, drive digital transformation, and keep your business at the forefront of technological advancements.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-3"
            class="collapsed"
            >What industries does ZiloTech cater to?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div
            id="faq-list-3"
            class="collapse"
            data-bs-parent=".faq-list"
          >
            <p>
              ZiloTech serves a diverse range of industries, including but not limited to startups, healthcare, finance, manufacturing, etc. Our adaptable solutions are designed to meet the unique needs of various business sectors.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-4"
            class="collapsed"
            > How does ZiloTech approach project development?
             <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div
            id="faq-list-4"
            class="collapse"
            data-bs-parent=".faq-list"
          >
            <p>
              ZiloTech follows a strategic and collaborative project development process. We begin with a comprehensive analysis, work closely with clients throughout, and ensure a seamless delivery
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-5"
            class="collapsed"
            >Is ZiloTech available for partnerships and collaborations?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div
            id="faq-list-5"
            class="collapse"
            data-bs-parent=".faq-list"
          >
            <p>
              Yes, we are open to partnerships and collaborations that align with our mission and values. Feel free to<a class="d-inline" href="#contact">contact us</a>with details about your proposal, and we'll be happy to discuss potential opportunities.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="600">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-6"
            class="collapsed"
            >Does ZiloTech offer ongoing support for its solutions??
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div
            id="faq-list-6"
            class="collapse"
            data-bs-parent=".faq-list"
          >
            <p>
              Absolutely. ZiloTech is committed to providing post-implementation support and maintenance for all our solutions. We offer flexible support packages to ensure the continued success of your technology investment.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>