
{% load static %}


    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3>Services</h3>
            <p>
                Embrace the future with ZiloTech as your technology partner. Whether you're a startup looking for a tech boost or an established enterprise seeking to innovate, we have the solutions to elevate your digital journey.
                Discover the wide range of services offered by ZiloTech.
            </p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch shadow" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <iconify-icon class="services-icon" icon="mdi:web"></iconify-icon>
                    </div>
                    <h4><a href="">Web Development</a></h4>
                    <p>
                        We specialize in creating responsive, user-friendly, and scalable websites that not only captivate your audience but also drive results.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 shadow" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon">
                        <iconify-icon class="services-icon" icon="iconoir:design-nib-solid"></iconify-icon>
                    </div>
                    <h4><a href="">UI/UX Design</a></h4>
                    <p>
                        Our UI/UX design services blend creativity with functionality to leave a lasting impression on your users. 
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 shadow" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon">
                        <iconify-icon class="services-icon" icon="radix-icons:mobile"></iconify-icon>
                    </div>
                    <h4><a href="">Mobile Development</a></h4>
                    <p>
                        Our mobile development services cater to both iOS and Android platforms, ensuring your business reaches users wherever they are.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 shadow" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon">
                        <iconify-icon class="services-icon" icon="tabler:seo"></iconify-icon>
                    </div>
                    <h4><a href="">Search Engine Optimization</a></h4>
                    <p>
                        We employ strategic optimization techniques to improve your website's search engine rankings, drive organic traffic, and enhance overall online presence.
                    </p>
                </div>
            </div>
        </div>
    </div>
   
